@model Seating.Models.Employee

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WCCCA Seating Chart</title>
    <link rel="icon" href="~/Content/Photos/WCCCA.jpg"
        type="image/x-icon">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</head>
<body>

<div style="margin-left:44rem;">
    <span style="font-size:60px;">Edit Employee</span>
    <br />     
</div>
<div style="margin-left:53rem">
    <a asp-action="Index">Back to List</a>
</div>

<div style="margin-top:3rem; margin-left:5rem;" class="row">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group col-md-3" style="margin-left:41rem;">
            <label class="control-label">First Name</label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3" style="margin-left:41rem;">
            <label class="control-label">Last Name</label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3" style="margin-left:41rem;">
            <label class="control-label">Display Name</label>
            <input asp-for="DisplayName" class="form-control" />
            <span asp-validation-for="DisplayName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3" style="margin-left:41rem;">
            <label class="control-label">Last two digits of dispatch number (If the number is 01-09, enter a single digit only)</label>
            <input asp-for="DispatchNumber" class="form-control" />
            <span asp-validation-for="DispatchNumber" class="text-danger"></span>
        </div>
        <div class="form-group" style="margin-left:49rem; margin-top:1rem;">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
