@model Seating.ViewModels.ListsVM

<div class="BreakDthdropdownGroup ml-3">
    <div class="btn-group" style="margin-left:-.5rem">
        <button class="btn btn-sm dropdown-toggle d-inline-block" style="width:7.85em; background-color: whitesmoke" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dispatcher
        </button>
        <div class="dropdown-menu" style="width:7.85em">
            @foreach (var item in Model.Employees)
            {
                <a style="font-family: 'Roboto', sans-serif;" class="dropdown-item pr-1">@item.DisplayName</a>
            }
        </div>
    </div>

    <div class="btn-group">
        <button class="btn btn-sm dropdown-toggle d-inline-block" style="width:7.85em; background-color:whitesmoke" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Position
        </button>
        <div class="dropdown-menu">
            @foreach (var item in Model.Positions)
            {
                <a style="font-family: 'Roboto', sans-serif;" class="dropdown-item">@item.PositionName</a>
            }
        </div>
    </div>

    <button type="button" class="btn btn-sm mt-2 btn-block" style="margin-left:-.5rem; background-color:whitesmoke">Submit</button>

</div>