<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>WCCCA Seating Chart</title>
    <link rel="icon" href="~/Content/Photos/WCCCA.jpg"
          type="image/x-icon">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@1,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header style="background-color:steelblue; width:150%">
        @*Alert Volume Switch*@
          <div class="alert-switch d-inline-block mt-3" style="margin-left:2rem" id="alertswitch">
            <h6 style="color:white">audible alerts</h6>
            <span class="switch-toggle" id="audiblealert">
                <input type="checkbox" id="bluetooth">
                <label for="bluetooth"></label>
            </span>
        </div>
        <div class="d-inline-block" id="headerRefresh">
            <div class="d-inline-block" style="margin-left:18rem; margin-right:18rem;">
            <span class="navbar-brand autoRefresh mr-0" style="color: white; font-family: 'Merriweather Sans', sans-serif;"><span class="offFloor" style="font-size: 50px; font-weight: bold">@ViewData["offFloor"]</span> off the floor</span>
            </div>
        </div>
        <a asp-area="Identity" asp-page="/Account/Login" class="d-inline-block nav-link" style="color:white; font-family: 'Quicksand', sans-serif;">Login</a>
    </header>
    <div>
        <main role="main" class="ml-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.1/howler.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>