@model Seating.ViewModels.ListsVM

@{
    ViewData["Title"] = "Home Page";
}

<div class="listContent d-inline-block">
    @await Html.PartialAsync("../Shared/_Lists")
</div>

<iframe class="d-inline-block border-0" src="https://docs.google.com/spreadsheets/d/1995yC-7ikytqaakEm7cdWQIVcRwPK9QVTInj9GKd4KU/edit#gid=1208107985" style="width:118em; height:70em; margin-left:52em; margin-top:-23rem" title="Iframe Example"></iframe>