@page
@{
    Layout = null;
}

<title>WCCCA Seating Chart</title>
<link rel="icon" href="~/Content/Photos/WCCCA.jpg"
        type="image/x-icon">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

<body style="background-image: url('https://cdn.shopify.com/s/files/1/0084/2386/6448/products/20190410_191421_1024x1024@2x.jpg?v=1555562957'); width:100%;">
    <div style="margin-left:34rem; display:inline-block">
        <a id="newDispatcher" style="text-decoration: none;" href="~/Employees/Index">
            <h1 style="color:white; text-decoration: none; text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black; margin-left:2.25rem; margin-top:5rem;" >Dispatchers</h1>
            <img src="~/Content/Photos/dispatcher.jpg" alt="Dispatcher" class="brand-image elevation-3"
                style="height:225px; width:225px; margin-right:1em; border:solid; border-color:white; border-radius:25px">
        </a>
    </div>

    <div style="margin-left:20rem; display:inline-block">
        <a id="newDispatcher" style="text-decoration: none;" href="~/Positions/Index">
            <h1 style="color:white; text-decoration: none; text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black; margin-left:3.25rem; margin-top:5rem;" >Positions</h1>
            <img src="~/Content/Photos/Console.png" alt="Position" class="brand-image elevation-3"
                style="height:225px; width:225px; margin-right:1em; border:solid; border-color:white; border-radius:25px; background-color:white">
        </a>
    </div>

    <div style="margin-left:34rem; display:inline-block">
        <a id="newDispatcher" style="text-decoration: none;" href="~/Identity/Account/Register">
            <h1 style="color:white; text-decoration: none; text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black; margin-left:1.5rem; margin-top:5rem;" >Admin Users</h1>
            <img src="~/Content/Photos/Admin.png" alt="Position" class="brand-image elevation-3"
                style="height:225px; width:225px; margin-right:1em; border:solid; border-color:white; border-radius:25px; background-color:white">
        </a>
    </div>

        <div style="margin-left:20rem; display:inline-block">
        <a id="newDispatcher" style="text-decoration: none;">
            <h1 style="color:white; text-decoration: none; text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black; margin-left:-4.5rem; margin-top:5rem;" >Reports (Coming Soon-ish?)</h1>
            <img src="~/Content/Photos/reports.png" alt="Position" class="brand-image elevation-3"
                style="height:225px; width:225px; margin-right:1em; border:solid; border-color:white; border-radius:25px; background-color:white">
        </a>
    </div>

</body>