/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  overflow: auto !important;
}

body {
  margin-bottom: 60px;
  /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.alert-switch {
    margin-left: 20rem;
    font-family: 'Quicksand', sans-serif;
}

.switch-label {
    width: 150px;
}

    .switch-label i {
        margin-right: 5px;
    }

.switch-toggle {
    height: 40px;
}

    .switch-toggle input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        z-index: -2;
    }

        .switch-toggle input[type="checkbox"] + label {
            position: relative;
            display: inline-block;
            width: 100px;
            height: 40px;
            border-radius: 20px;
            margin: 0;
            cursor: pointer;
            box-shadow: inset -8px -8px 15px rgba(255,255,255,.6), inset 10px 10px 10px rgba(0,0,0, .25);
        }

            .switch-toggle input[type="checkbox"] + label::before {
                position: absolute;
                content: 'ON';
                font-size: 13px;
                text-align: center;
                line-height: 25px;
                top: 8px;
                left: 8px;
                color: white;
                width: 45px;
                height: 25px;
                border-radius: 20px;
                background-color: green;
                box-shadow: -3px -3px 5px rgba(255,255,255,.5), 3px 3px 5px grey;
                transition: .3s ease-in-out;
            }

        .switch-toggle input[type="checkbox"]:checked + label::before {
            left: 50%;
            content: 'OFF';
            color: white;
            background-color: red;
            box-shadow: -3px -3px 5px rgba(255,255,255,.5), 3px 3px 5px grey;
        }

@-webkit-keyframes flashTime {
    from {
        background-color: orange;
    }

    to {
        background-color: inherit;
    }
}

@-moz-keyframes flashTime {
    from {
        background-color: orange;
    }

    to {
        background-color: inherit;
    }
}

@-o-keyframes flashTime {
    from {
        background-color: orange;
    }

    to {
        background-color: inherit;
    }
}

@keyframes flashTime {
    from {
        background-color: orange;
    }

    to {
        background-color: inherit;
    }
}

.flashTime {
    -webkit-animation: flashTime 1s infinite; /* Safari 4+ */
    -moz-animation: flashTime 1s infinite; /* Fx 5+ */
    -o-animation: flashTime 1s infinite; /* Opera 12+ */
    animation: flashTime 1s infinite; /* IE 10+ */
}

.fireNotCounted {
    background-color:deepskyblue;
    color:white;
}

.dropdownStyling {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: black;
    background-color: whitesmoke;
    margin-top:-.5rem;
}

.lunchTaken {
    color: lightcoral;
    text-decoration: line-through;
}

.loginBackgroundImage {
    background-image: url(../Content/Photos/loginBackground.jpg);
}